
<div class="homepage">
    {{#each posts as |post|}}
    <article class="post">
        <div class="title">
            <a href="/post/{{id}}" target="_blank">{{title}}</a>
        </div>
        <div class="info">
            <span>By {{user.username}} on {{format_date created_at}}</span>
            <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
        </div>
    </article>
    {{/each}}
</div>

